

.introContainer {
    text-align: center;
    height : 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.intro span{
    color: rgb(82, 62, 238);
}

.introText{
    width: 50%;
}

.introText p{
    font-size: 1.2rem;
    text-align: center;
}

.introButton{
    position: relative;
    top : 300px;
    color: white;
    transition: color 0.3s ease;
}

.introButton:hover{
    color: rgb(82, 62, 238);
    transition: color 0.3s ease;
}   



