

.introContainer {
    text-align: center;
    height : 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
}


.intro{
 padding-bottom: 20vh;
}

.introText{
    padding: 0 400px;
}


.introButton{
    position: relative;
    top : 300px;
}

